body {
  /*background: url('/assets/images/wallpaper.jpg') no-repeat center center fixed;*/
  background-size: cover;
  font-family: source-sans-pro, Helvetica, Arial, sans-serif, sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

#top_menu {
  height: 100px;
  background-color: #ff0000;
}

#right-menu {
  margin-top: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;

}

#right-menu a {
  color: #242424;
}

#right-menu a i {
  font-size: 20px;
  vertical-align: middle;
  margin-top: -2px;
}

#logo {
  display: none;
  position: absolute;
  width: 383px;
  height: 55px;
  margin-top: 20px;
  margin-right: 40px;
}

#saul {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
  height: 184px;
}

#safe {
  display: none;
  position: absolute;
  margin-top: 80px;
  margin-left: 60px;
}

#jesse_video {
  display: none;
  position: absolute;
  z-index: 100;
}
