body {
  background: url('http://images6.alphacoders.com/321/321927.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: source-sans-pro, Helvetica, Arial, sans-serif, sans-serif;
  overflow-x: hidden;
}

#top_menu {
  height: 100px;
  background-color: #ff0000;
}

#logo {
  display: none;
  position: absolute;
  width: 383px;
  height: 55px;
  margin-top: 20px;
  margin-right: 40px;
}

#saul {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
  height: 184px;
}

#safe {
  display: none;
  position: absolute;
  margin-top: 80px;
  margin-left: 60px;
}

#jesse_video {
  display: none;
  position: absolute;
  z-index: 100;
}
