<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1000">
    <title>The Codebreaker Game</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    
    <link rel="stylesheet" href="assets/css/style.css">

    <!--VEX CSS-->
    <link rel="stylesheet" href="assets/css/vex.css">
    <link rel="stylesheet" href="assets/css/vex-theme-wireframe.css">  

    <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="assets/js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-wireframe';</script>
    <script src="assets/js/howler.min.js"></script>
    <script src="assets/js/bounce.min.js"></script>
    <script src="assets/js/main.js"></script>

    
</head>

<body>
    <img id="logo" src="assets/images/code_breaker_logo.png"></img>

    <video id="jesse_video" preload="auto">
        <source src="assets/videos/jesse.mp4" type="video/mp4">
            <source src="assets/videos/jesse.webm" type="video/webm">
            Your browser does not support the video tag.
    </video>
    
    <object id="safe" type="image/svg+xml" data="assets/images/digital_lock.svg">Your browser does not support SVG</object>
    <img id="saul" src="assets/images/better-call-saul.jpg"></img>
</body>

</html>